<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="shortcut icon" th:href="@{/static/icon/4.ico}" type="image/x-icon" />
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">AAA后台管理系统</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>

            <li class="layui-nav-item layui-hide-xs"><a href="">nav 1</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="">nav 2</a></li>
            <li class="layui-nav-item layui-hide-xs"><a href="">nav 3</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">nav groups</a>
                <dl class="layui-nav-child">
                    <dd><a href="">menu 11</a></dd>
                    <dd><a href="">menu 22</a></dd>
                    <dd><a href="">menu 33</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                         class="layui-nav-img"/>
<!--                    <span th:text="${session.loginInfo.getUserName()}" style="padding-right: 10px"></span>-->
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">配置</a></dd>
                    <dd><a href="">设置</a></dd>
<!--                    <dd><a th:href="@{/auth?method=logout}">退出登录</a></dd>-->
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/feedback/1}" target="ifm">AAA考题</a></dd>
                        <dd><a href="">待开发</a></dd>
                        <dd><a href="" target="ifm">待开发</a></dd>
                        <dd><a href="" target="ifm">待开发</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">数据管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">list 1</a></dd>
                        <dd><a href="javascript:;">list 2</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">客户管理</a></li>
                <li class="layui-nav-item"><a href="">客户历史</a></li>
                <li class="layui-nav-item"><a href="">报表统计</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe src="" name="ifm" frameborder="0" style="width: 85vw;height: 600px"></iframe>
    </div>

    <div class="layui-footer" style="text-align: center;color: #0F0">版权©归&nbsp;&nbsp;李江&nbsp;&nbsp;所有&nbsp;&nbsp;&nbsp;&nbsp;2022-09-13</div>
</div>

<script th:src="@{/static/layui/layui.js}"></script>
<script>
    //JS
    layui.use(["element", "layer", "util"], function () {
        var element = layui.element,
            layer = layui.layer,
            util = layui.util,
            $ = layui.$
        //头部事件
        util.event("lay-header-event", {
            //左侧菜单事件
            menuLeft: function (othis) {
                layer.msg("展开左侧菜单的操作", {icon: 0})
            },
            menuRight: function () {
                layer.open({
                    type: 1,
                    content: '<div style="padding: 15px;">处理右侧面板的操作</div>',
                    area: ["260px", "100%"],
                    offset: "rt", //右上角
                    anim: 5,
                    shadeClose: true,
                })
            },
        })
    })
    function delFruit(gid){
        if(confirm("是否确认删除？")){
            window.location.href = 'del.do?gid='+gid;
        }
    }
</script>
</body>
</html>
